{
  "presets": [
    "@babel/env", 
    "@babel/preset-typescript",
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel", 
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
