{
  "presets": [
    "@babel/env", 
    "@babel/preset-typescript",
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel", 
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    ["babel-plugin-styled-components",
      {
        "ssr": false,
        "displayName": false,
        "fileName": false,
        "minify": true,
        "pure": true,
        "transpileTemplateLiterals": false
      }
    ]
  ]
}
